.main{
    display: flex;
    flex-direction: column-reverse; /* Add this line to always stack img-part and text-part on top of each other */
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-part{
    width: 100%; /* Change width to 100% to take up full width of the container */
}

.text-part{
    width: 100%; /* Change width to 100% to take up full width of the container */
    display: block;
}
.text-part .text{
    margin: 10%;
    margin-top: 10%;
}

@media (max-width: 768px)  {
    .main{
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .text-part{
        width: 100vw;
    }
    .text-part .text{
        margin-top: 0%;
    }
    .img-part{
        width: 100vw;
    }
}
.button{
    background-color: aqua;
    text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}
